<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index'  %}">FO PTTR</a>
        
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'about'  %}">Hakkımızda</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'article:articles'  %}">PTTR Maddeleri</a>
            </li>
            
          </ul>

          <ul class="navbar-nav ml-auto">
          {% if request.user.is_authenticated %}

          <a href="{% url 'article:dashboard'  %}" class="badge badge-light">
          <button type="button" class="btn btn-primary">
          Hoşgeldiniz<span class="badge badge-light">{{user.username}}</span>
          </button>
          </a>

          <a href="{% url 'user:logout'  %}" class="badge badge-light">
          <button type="button" class="btn btn-danger">
          Çıkış Yap<span class="badge badge-light"></span>
          </button>
          </a>
          
          {% else %}

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:login'  %}">Giriş Yap</a>
          </li>
          
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'user:register'  %}">Kayıt Ol</a>
          </li>
          {% endif %}
          
          </ul>
        </div>
    
    
</nav>