{% extends "layout.html" %}


{% block body %}

<h3>Hakkımızda</h3>
<hr>

<p>VOME Ekibi olarak gelecek projelerde çalıştığımız firmalar ile iş takibimizi daha yalın ve aktif bir şekilde yapabilmek için böyle bir platform geliştridik. Bu platformun asıl amacı manuel olarak tutulan PTTR' listelerinin şeffaf bir şekilde herkes tarafından okunabilmesi, herkesin problem tespit edip buraya girebilmesi, ve otomatik raporlama yapabilmesidir.</p>
<p>Yapacağımız bu site ile beraber projelerimizdeki problemlerin tespitini ve takibini kolaylaştırmayı planlıyoruz.<p>
</p>Sizlerin de bizlere olacak desteği için şimdiden teşekkür ederiz.</p>
        

        

{% endblock body %}
